<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMcG.CodeAlignment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CMcG.CodeAlignment.Properties.Settings>
            <setting name="UseRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shortcuts" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfKeyShortcut xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;KeyShortcut&gt;
    &lt;Value&gt;EqualsPlus&lt;/Value&gt;
    &lt;Alignment&gt;(^|[\w\s])(?&amp;lt;x&amp;gt;=)&lt;/Alignment&gt;
    &lt;AlignFromCaret&gt;false&lt;/AlignFromCaret&gt;
    &lt;UseRegex&gt;true&lt;/UseRegex&gt;
    &lt;AddSpace&gt;true&lt;/AddSpace&gt;
  &lt;/KeyShortcut&gt;
  &lt;KeyShortcut&gt;
    &lt;Value&gt;M&lt;/Value&gt;
    &lt;Alignment&gt;m_&lt;/Alignment&gt;
    &lt;AlignFromCaret&gt;false&lt;/AlignFromCaret&gt;
    &lt;UseRegex&gt;false&lt;/UseRegex&gt;
  &lt;/KeyShortcut&gt;
  &lt;KeyShortcut&gt;
    &lt;Value&gt;Quotes&lt;/Value&gt;
    &lt;Alignment&gt;"&lt;/Alignment&gt;
    &lt;AlignFromCaret&gt;false&lt;/AlignFromCaret&gt;
    &lt;UseRegex&gt;false&lt;/UseRegex&gt;
  &lt;/KeyShortcut&gt;
  &lt;KeyShortcut&gt;
    &lt;Value&gt;Period&lt;/Value&gt;
    &lt;Alignment&gt;.&lt;/Alignment&gt;
    &lt;AlignFromCaret&gt;true&lt;/AlignFromCaret&gt;
    &lt;UseRegex&gt;false&lt;/UseRegex&gt;
  &lt;/KeyShortcut&gt;
  &lt;KeyShortcut&gt;
    &lt;Value&gt;Space&lt;/Value&gt;
    &lt;Alignment&gt;\s+(?&amp;lt;x&amp;gt;[^\s])&lt;/Alignment&gt;
    &lt;AlignFromCaret&gt;true&lt;/AlignFromCaret&gt;
    &lt;UseRegex&gt;true&lt;/UseRegex&gt;
  &lt;/KeyShortcut&gt;
&lt;/ArrayOfKeyShortcut&gt;</value>
            </setting>
            <setting name="XmlTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.xaml</string>
                        <string>.xml</string>
                        <string>.html</string>
                        <string>.xhtml</string>
                        <string>.aspx</string>
                        <string>.master</string>
                        <string>.cshtml</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ScopeSelectorRegex" serializeAs="String">
                <value>^\s*(\{|\}|\};|\(|\)|)\s*$</value>
            </setting>
        </CMcG.CodeAlignment.Properties.Settings>
    </userSettings>
</configuration>